<a href="/faculties">Our Faculty</a>
<p><a href="/courses">Our Courses</a></li></p>
<p><%= link_to 'View Courses', faculty_courses_path(@faculty) %></p>
<a href="/faculties/<%= @faculty.id %>/edit">Update Faculty</a>

<p><%= @faculty.name %></p>
<p><strong>Department:</strong> <%= @faculty.department %></p>
<p><strong>Courses Taught:</strong> <%= @faculty.courses.count %></p>
<p><strong>Email:</strong> <%= @faculty.email %></p>
<p><strong>Phone:</strong> <%= @faculty.phone %></p>
<p><strong>Office Hours open:</strong> <%= @faculty.office_hours %></p>
<p><strong>Has been instructing for <%= @faculty.years_instructing %> years!</p>

